* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Universal variables*/
:root {
    --margin: 20px;
    --padding: 10px;
    --color1: black;
    --color2: white;
    --color3: rgb(55, 0, 150);
    --color4: rgb(64, 64, 199);
    --color5: rgb(35, 35, 45);
    --color6: rgb(187, 204, 255);
    --color7: rgb(230, 207, 172);
    --color8: rgb(159, 183, 255);
    --color9: rgb(159, 255, 186);
    --serif: 'Lora', 'Times New Roman', Times, serif;
    --sans-serif: 'Roboto', 'Arial', sans-serif;
}

/*Basic body and heading formatting*/
body {
    font-size: 14px;
    color: var(--color1);
}

h1 {
    font-family: var(--serif);
    font-size: 64px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    color: var(--color1);
    text-align: left;
    padding: var(--padding);
    margin: var(--margin);
}

/*Header and navbar*/
header {
    background-color: var(--color3);
    color: var(--color2);
    padding: var(--padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    border: 2px solid var(--color1);
}

nav{
    font-family: var(--sans-serif);
    font-size: 20px;
    padding: var(--padding);
    margin: var(--margin);
}

nav ul li{
    display: inline;
    list-style: none;
}

nav a{
    color: var(--color2);
    margin-left: var(--margin);
    text-decoration: none;
    text-align: center;
    padding: var(--padding);
}

.navbar a:hover{
    background-color: var(--color2);
    color: var(--color5);
}
.navbar a.active{
    background-color: var(--color4);
    color: var(--color2);
}

.break{
    height: 110px;
}

.flexwrap{
    display: flex;
    flex-flow: row wrap;
}

.sect{
    font-family: var(--serif);
    display: flex;
    flex-flow: row wrap;
    margin: 150px 0px 180px 0px;
}
/*Section titles left sidebar*/
.headshot{
    width: 160px;
    margin: var(--padding);
    border: solid var(--color1) 1px;
}

.title{
    font-weight: bold;
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--color5);
    width: 200px;
    background-color: var(--color6);
    border: 1px solid var(--color5);
    padding: var(--padding);
    margin:var(--margin);
}

/*Section content formatting*/
.content{
    font-size: 20px;
    color: var(--color1);
    padding: var(--padding);
    margin: var(--margin);
    flex: 1 0 0;
    display: flex;
    flex-flow: row wrap;
}

/*Portfolio image formatting*/
.portimg{
    height: 220px;
    width: 300px;
    object-fit: cover;
    border: solid var(--color1) 1px;
    margin: var(--margin);
    flex: 1 1 auto;
}

.asap{
    background: url(./images/ASAP.png);
    background-size:cover;
}

.horiseon{
    background: url(./images/horiseon.png);
    background-size:cover;
}

.csssite{
    background: url(../assets/images/csssite.png);
    background-size:cover;
}

.sitelink{
    position: relative;
    top: 181px;
    background: var(--color4);
    padding: var(--padding);
    color: var(--color2);
    border: var(--color2) solid 2px;
}

#about{
    background-color: var(--color7);
    width: 100%;
    border-bottom: 2px solid var(--color5);
}

#portfolio{
    background-color: var(--color8);
    width: 100%;
    border-bottom: 2px solid var(--color5);
}

#contact{
    background-color: var(--color9);
    width: 100%;
}