* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --margin: 20px;
    --padding: 10px;
    --color1: black;
    --color2: white;
    --color3: rgb(55, 0, 150);
    --color4: rgb(64, 64, 199);
    --color5: rgb(35, 35, 45);
    --color6: rgb(187, 204, 255);
    --serif: 'Lora', 'Times New Roman', Times, serif;
    --sans-serif: 'Roboto', 'Arial', sans-serif;
}

body {
    font-size: 14px;
    color: var(--color1);
}

h1 {
    font-family: var(--serif);
    font-size: 64px;
    font-weight: 500;
}

header {
    background-color: var(--color3);
    color: var(--color2);
    padding: var(--padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;

}

nav{
    font-family: var(--sans-serif);
    font-size: 20px;
    padding: var(--padding);
    margin: var(--margin);
}

nav ul li{
    display: inline;
    list-style: none;
}

nav a{
    color: var(--color2);
    margin-left: var(--margin);
    text-decoration: none;
    text-align: center;
    padding: var(--padding);
}

.navbar a:hover{
    background-color: var(--color2);
    color: var(--color5);
}
.navbar a.active{
    background-color: var(--color4);
    color: var(--color2);
}

.headshot{
    width:20%;
    margin: 120px var(--margin)  var(--margin) var(--margin);
}

.title{
    margin:var(--margin);
    font-weight: bold;
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--color5);
    display: flex;
    width: 20%;
    background-color: var(--color6);
    padding: var(--padding);
    border: solid 1px;
    border-color:rgb(216, 226, 255);
}

.content{
    font-size: 14px;
    color: var(--color1);
}

#about{

}

#portfolio{

}

#contact{

}