* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Universal variables*/
:root {
    --margin: 20px;
    --padding: 10px;
    --color1: black;
    --color2: white;
    --color3: rgb(55, 0, 150);
    --color4: rgb(64, 64, 199);
    --color5: rgb(35, 35, 45);
    --color6: rgb(187, 204, 255);
    --serif: 'Lora', 'Times New Roman', Times, serif;
    --sans-serif: 'Roboto', 'Arial', sans-serif;
}

/*Basic body and heading formatting*/
body {
    font-size: 14px;
    color: var(--color1);
}

h1 {
    font-family: var(--serif);
    font-size: 64px;
    font-weight: 500;
}

.bold{
    font-weight: bold;
}

/*Header and navbar*/
header {
    background-color: var(--color3);
    color: var(--color2);
    padding: var(--padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav{
    font-family: var(--sans-serif);
    font-size: 20px;
    padding: var(--padding);
    margin: var(--margin);
}

nav ul li{
    display: inline;
    list-style: none;
}

nav a{
    color: var(--color2);
    margin-left: var(--margin);
    text-decoration: none;
    text-align: center;
    padding: var(--padding);
}

.navbar a:hover{
    background-color: var(--color2);
    color: var(--color5);
}
.navbar a.active{
    background-color: var(--color4);
    color: var(--color2);
}

.flexwrap{
    display: flex;
    width: 100%;
    margin: var(--margin);
    flex-flow: row wrap;
}

.sect{
    padding: var(--padding);
    font-family: var(--serif);
    display: flex;
    flex-flow: row wrap;
}
/*Section titles left sidebar*/
.headshot{
    width: 200px;
    margin: var(--margin);
    border: solid var(--color1) 1px;
}

.about{
    position: absolute;
    top: 270px;
    z-index: 1;
    margin: 0;
}

.title{
    font-weight: bold;
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--color5);
    width: 200px;
    background-color: var(--color6);
    border: 1px solid var(--color5);
    padding: var(--padding);
    margin:var(--margin);
}

/*Section content formatting*/
.content{
    clear: both;
    font-size: 16px;
    color: var(--color1);
    padding: var(--padding);
    margin: var(--margin);
    flex: 1 0 0;
}

/*Portfolio image formatting*/
.portimg{
    width: 200px;
}
